<div class="page-header">
  <h1>What's on Tap</h1>
</div>
<div class="row">
  <div class="col-md-6 col-lg-3" *ngFor="let tap of taps" >
      <h3>{{tap.name}}</h3>
      <div *ngIf="!tap.beer">
         <article class="article-card">
          <div class="card-content">
            <h4>No Beer</h4>
            <img src="/assets/images/homer_no_beer.jpeg" alt="homer_no_beer">
          </div>
         </article>
      </div>

      <div *ngIf="tap.beer">
        <article class="article-card">
          <div class="card-content">

            <h4>{{tap.beer.name}}</h4>

            <p class="post-author">By <a href="#">{{tap.beer.brewery}}</a></p>

            <p>
              {{tap.beer.description}}
            </p>
            <p>
              <a href="#">Stats:</a>
              <a href="#" class="right">ABV {{tap.beer.abv}}%</a>
              <a href="#" class="right">IBU {{tap.beer.ibu}}</a>
            </p>
          </div>
        </article>
    </div>
</div>
